{% extends 'base.html' %}

{% block title %}School Votes{% endblock %}
{% block sidenav %}
{% endblock %}
{% block content %}
{% load votes_extras %}
<img src="{{ community.logo.url }}" alt="community logo"  width="150" height="150"><br/>
<img src="/media/logos/dailybulletin.jpeg" alt="daily bulleting"><br/>
   <strong>Surveys for {{ community.name }}</strong>
       {% for survey in surveys %}
         <hr>
             {{ survey.get_description }} (Votes: {% get_user_votes survey email %} of
                  {% if survey.get_max_votes == 0 %}
                  Unlimited)
                  {% else %}
                  {{ survey.get_max_votes }})
                  {% endif %}<br/>
                  {% if survey.is_closed %}
                     <a class="btn btn-primary disabled" href="#">Survey Closed</a>
                  {% else %}
                     <a class="btn btn-primary" href="{% url 'survey' survey_id=survey.id %}">Take Survey</a>
                  {% endif %}
                  {% if is_staff or not survey.results_are_hidden %}
                  <a class="btn btn-primary" href="{% url 'results' survey_id=survey.id %}">See Results</a>
                  {% endif %}
		  {% if is_staff and survey.results_are_hidden %}
			<font size="-0.5">(Results for staff only)</font>
		  {% endif %}
		  <br/>
                  {% if survey.has_not_closed_yet %}
                   <font size="-0.5">
                     Opens: {{ survey.get_open_datetime_str }} <br/>
                     Closes: {{ survey.get_close_datetime_str }}
                     <br/>
                  </font>
                  {% endif %}

       {% endfor %}
   </ul>
{% endblock %}
