{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
  <strong>Welcome to School Votes, {{ firstname }}</strong>
  <hr>
  {% if message != None %}
  <strong> {{ message }} </strong> </br>
  <hr>
  {% endif %}
   Select a school in navigation bar.
   <hr>
<!-- Copyright -->
<footer class="page-footer blue pt-4 fixed-bottom">
<div class="footer-copyright text-center py-3 bg-white myfont-scaling-sm">Copyright © 2018 Luca Cotter. All rights reserved.
</div>
</footer>
{% endblock %}
