{% extends 'base.html' %}
{% load socialaccount %}


{% block title %}Community Votes{% endblock %}
{% block sidenav %}
   <strong>Communities</strong>
   {% if user.is_authenticated %}
       <a href="{% url 'account_logout' %}">Logout</a>
    {% endif %}

    {% for community in communities %}
     <a href="{% url 'community' community_id=community.id %}">{{ community.get_name }}</a>
    {% endfor %}

{% endblock %}
{% block content %}
  <h1>Welcome to Community Votes, {{ username }}</h1>
  <hr>
  {% if message != None %}
  <strong> {{ message }} </strong> </br>
  <hr>
  {% endif %}
   Select a community in navigation bar.
   <hr>

{% endblock %}
