{% extends 'base.html' %}

{% block title %}Community Votes{% endblock %}
{% block sidenav %}
{% endblock %}
{% block content %}
<div class="container-fluid">
  Thanks for offering a suggestion, <font class="text-capitalize">{{ username }}</font>!
  <hr>
  <form action="{% url 'mail' %}" method="post">
     {% csrf_token %}

 <textarea name="message" rows="10" cols="30" placeholder="Enter suggestion here"></textarea>
</br>
 <input class="btn btn-primary" type="submit">
  </form>
   <hr>
</div>
{% endblock %}
