{% extends 'base.html' %}

{% block title %}School Votes{% endblock %}
{% block sidenav %}
{% endblock %}
{% block content %}
   <h1>Questions for Survey {{ survey.get_description }}</h1>
   <hr>
      <ul>
       {% for question in questions %}
       <form action="{% url 'vote' %}" method="POST">
          {% csrf_token %}
           <li>
             <strong><font size="12" color="blue">{{ question.text }}</font></strong>
             <fieldset id="q{{question.id}}">
             {% for response in question.get_responses %}
             <input type="radio" value="r{{response.id}}" name="q{{question.id}}"> {{ response.text }}</br>
                <!-- <button onclick="myFunction()">Click me</button></li> -->
             {% endfor %}
             </fieldset>
           </li>
         {% endfor %}
        </ul>
        <input class="btn btn-primary" type="submit" value="Submit Votes">


     </form>
{% endblock %}
