<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <!-- <meta charset="utf-8"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Created to make student participation in school decisions a reality. With its easy-to-use interface, students vote to make their voices heard.">
    <meta name="keywords" content="School, Vote, Voting, Students, Survey, ASB" />
    <meta name="author" content="Luca Cotter">
    <meta name="theme-color" content="#317EFB"/>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <title>School Votes</title>

    <link rel="stylesheet" href="{% static 'votes/styles.css' %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   {% load static %}
   {% load socialaccount %}

   <title>School Votes</title>

   <!-- Bootstrap core CSS -->
   {% load static %}
   <link href="{% static 'votes/bootstrap.css' %}" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="{% static 'votes/starter-template.css' %}" rel="stylesheet">
   {% load static %}
   <link rel="stylesheet" href="{% static 'votes/bars.css' %}"/>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'votes/styles-final.css' %}"/>
</head>

{% block script %}
{% endblock %}
<body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #4057B6;">
      <!-- <svg class="d-block" width="36" height="36" viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false">\ -->
     <!-- <a class="navbar-brand" href="#">School Votes</a> -->
    <a class="navbar-brand" href="#"><span class="mb-0"><span class="myfont-scaling-med">School Votes</span></span></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

         <!-- Home Button -->
         <li class="nav-item inactive">
           <a class="nav-link" href="{% url 'index' %}"><span class="myfont-scaling-med">Home </sapn><span class="sr-only">(current)</span></a>
         </li>

         <!-- About Button -->
         <li class="nav-item inactive">
           <a class="nav-link" href="{% url 'about' %}"><span class="myfont-scaling-med">About</span><span class="sr-only">(current)</span></a>
         </li>

         <li class="nav-item inactive">
           <a class="nav-link" href="{% url 'contact' %}"><span class="myfont-scaling-med">Contact Us</span><span class="sr-only">(current)</span></a>
         </li>

         {% if user.is_authenticated %}
            <li class="nav-item dropdown inactive">
              <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="myfont-scaling-med">Schools</span></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% for community in communities %}
                <a class="dropdown-item" href="{% url 'community' community_id=community.id %}"><span class="myfont-scaling-med">{{ community.get_name }}</span></a>
                {% endfor %}
              </div>
            </li>

            <li class="nav-item inactive">
              <a class="nav-link" href="{% url 'suggestion' %}"><span class="myfont-scaling-med">Suggestion </span></a>
            </li>

            <li class="nav-item inactive">
              <a class="nav-link" href="{% url 'account_logout' %}"><span class="myfont-scaling-med">Sign Out </span></a>
            </li>

         {% else %}
            <!-- <li>
               <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li> -->
            <!-- <li>
               <a class="nav-link" href="{% url 'account_login' %}"><span class="myfont-scaling-med">Sign In</span></a>
            </li> -->
            <li>
               <a class="nav-link inactive" href="{% provider_login_url 'google' %}"><span class="myfont-scaling-med inactive">Sign In </span></a>
            </li>
         {% endif %}
         {% if request.user.is_superuser %}
         <li class="nav-item">
           <a class="nav-link inactive" href="/admin"><span class="myfont-scaling-med">Admin</span></a>
         </li>
         {% endif %}

      </ul>
      {% if user.is_authenticated %}
      <div class="form-inline my-2 my-lg-0 mb-0 h1">
          <font color="white" class="text-capitalize"><span class="myfont-scaling-med">{{ firstname }}</span></font>
      </div>
      {% endif %}
      <!-- <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
     </div>
   </nav>
   <main>
      <div class="mymain">
             {% block content %}
             {% endblock %}
      </div>
   </main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'votes/jquery-3.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'votes/popper.js' %}"></script>
<script src="{% static 'votes/bootstrap.js' %}"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbW
</body>
</html>
