
body {
    font-family: "Lato", sans-serif;
}

@media only screen and (min-width: 450px) {
body {
    font-family: "Lato", sans-serif;
    font-size: 36px;
}
}



.sidenav {
    height: 100%;
    width: 20%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fcf685;
    overflow-x: hidden;
    padding-top: 5vh;
    padding-left: 1vw;
    font-size: 2vw
}

.sidenav a {
    padding: 6px 8px 6px 5px;
    text-decoration: none;
    font-size: 1.75vw;
    padding-left: 1vw;

    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


/* .main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 100%;
    font-size: 18px;
    padding: 0px 10px;
}

h1 {font-size: 20px}

@media only screen and (min-width: 50px) {
.main {
    margin-left: 10%;
    margin-right:10%;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 100%;
    font-size: 36px;
    padding: 0px 10px;
} */

.mymain {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 100px;
    height: 100%;
    font-size: 18px;
    padding: 0px 10px;
}

h1.mymain {
   font-size: 18px;
   line-height: 1.2;
}

h1 {font-size: 22px;}

.myfont-scaling-med {
   font-size: 18px;
}

.myfont-scaling-sm {
   font-size: 12px;
}


@media (min-width: 367px) {
.mymain {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 100px;
    height: 100%;
    font-size: 24px;
    padding: 0px 10px;
}
ul {
   font-size: 24px;
}

h1 {
   font-size: 24px;
   line-height: 1.2;
}

.myfont-scaling-med {
   font-size: 24px;
}

.myfont-scaling-sm {
   font-size: 14px;
}
}




.cartlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.progressBar {
  width: 100%;
  background-color: #ddd;
  height: 3vw;
}

.progressResult {
  width: 1%;
  height: 3vw;
  background-color: #4CAF50;
}

.survey {
    font-size: 18px;
}

@media only screen and (min-width: 450px) {
.survey {
    font-size: 36px;
}
}
